.cards {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 150px;
    padding: 1rem;

    h1 {
        font-size: 2rem;
        margin-bottom: 5rem;
        span {
            padding-top: 2rem;
            border-top: 1px solid $secondary--md;
        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

        .card {
            margin: 2rem 0;
            
            img {
                margin: 1rem 0;
            }

            h2 {
                font-size: 1.5rem;
                font-family: $serif;
                color: $secondary--dk;
                margin: 1rem 0;
            }

            p {
                color: $secondary--md;
            }
        }
    }
}

@include media-md {
    .cards {
        text-align: left;
        margin: 250px 3rem;

        &__wrap {
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
        }
    }
}