.footer {
    
    &__social {
        background: url('../images/bg-pattern-footer-mobile.svg') 0 0 no-repeat;
        background-size: cover;
        display: flex;
        flex-flow: column;
        padding: 3rem 0;
        align-items: center;

        &__icons {
            margin-top: 2rem;
            display: flex;
            width: 50%;
            justify-content: space-evenly;

            &__icon {
                path {
                    @include transition-ease;
                }

                &:active, &:focus, &:hover {
                    cursor: pointer;

                    path {
                        fill: $secondary--dk;
                    }
                }
            }
        }
    }

    &__links {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        margin: 3rem 1rem;
        padding-top: 1rem;
        border-top: 1px solid $secondary--md;

        &__list {
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-size: .8rem;

            h1 {
                margin: 2rem 0;
                margin-bottom: 3rem;
                font-weight: weight(bold);
                font-family: $sans-serif;
                color: $secondary--md;
            }

            li {
                margin: 1rem;

                a {
                    color: $primary--dk;
                    font-weight: weight(bold);
                    @include transition-ease;
                    &:hover {
                        border-bottom: 1px solid $primary--dk;
                    }
                }

            }
        }
    }
}

@include media-md {
    .footer {
        position: relative;
        bottom: 0;
        margin-top: 9rem;
        padding: 2rem 4rem;
        background: hsl(0, 0%, 97%);
        
        &__bg {
            background: url('../images/bg-pattern-footer-desktop.svg') 0 0 no-repeat;
            background-size: cover;
            display: block;
            height: 275px;
            width: 630px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        &__social {
            background: none;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-evenly;
            border-bottom: 1px solid $secondary--md;
            padding: 2rem 0;
            position: relative;

            .logo {
                flex: 5;
            }

            &__icons {
                flex: 1;
                margin: 0;
                justify-content: space-between;
            }
        }

        &__links {
            display: flex;
            justify-content: space-between;
            border-top: none;
            margin: 0 1rem;
            padding-right: 6rem;
            z-index: 5;
            position: relative;
            
            &__list {
                text-align: left;
                list-style: none;
                border-top: none;
                margin: 0 -1rem;

                h1 {
                    margin: 2rem 0;
                }

                li {
                    margin: 1rem 0;
                }
            }
        }
    }
}

@include media-lg {
    .footer {
        padding: 2rem 10rem;
    }
}

@include media-xl {
    .footer {
        &__social {
            .logo {
                flex: 7;
            }
        }

        &__links {
            padding-right: 9rem;
        }
    }
}